<section class="py-0">
  <div class="bg-white  lg:flex items-stretch ">
    
    <div class="lg:w-1/2 relative group overflow-hidden">
      <img 
        src="https://www.gibindesign.com/assets/img_20260222_173057170_2.webp" 
        alt="Opera d'arte" 
        class=" h-full  m-auto" style=""
      >
    </div>

    <div class="lg:w-1/2 p-8 lg:p-12 flex flex-col justify-center">
      <p class="py-4 md:w-full">
          <span class="inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 inset-ring inset-ring-green-500/20">Disponibile</span>
        </p>
      <div class="flex items-center gap-4 mb-4">
        <span class="text-black font-bold  tracking-widest text-sm">Scultura</span>
        <span class="text-black">|</span>
        <span class="text-black text-sm ">Materiali riciclati (metallo)</span>
      </div>

      <h2 class="text-4xl font-bold  mb-2">Vespa 001</h2>
      <p class="text-xs mb-8  font-mono">Febbraio 2026</p>

      <div class="space-y-4 mb-10">
        <p>
            <strong>Concept:</strong> La Vespa "nuda", essenziale, nata dall'officina.
        </p>
        
        <p>
            <strong>Descrizione:</strong> Vespa 001 è un’esplosione di metallo che cattura il movimento del design Piaggio nel suo stato più grezzo. Lamiere recuperate, saldature a vista e spigoli vivi delineano lo scudo e la pancia iconica, elevando l’oggetto industriale a reperto artistico. Un tributo meccanico che affonda le radici nella tradizione metallurgica locale per proiettare l'icona verso il suo ottavo decennio."</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4  py-8 text-sm">
        <div>
          <p class=" font-semibold">Dimensioni</p>
          <p class=" font-light">20 x 20 x h40 cm circa</p>
        </div>
        <div>
          <p class="  font-semibold">Materiale</p>
          <p class=" font-light">Metallo riciclato</p>
        </div>
        <div>
        </div>
      </div>


      <div class="mt-10 flex flex-wrap gap-4">
        <button class="bg-gray-900 text-white px-8 py-3  font-semibold text-center hover:bg-gray-800 transition-all items-center w-full md:w-auto">
          Chiedi Informazioni
        </button>
        <button class="border-2 border-gray-900 text-gray-900 bg-transparent px-8 py-3 font-semibold text-center hover:bg-gray-900 hover:text-white transition-all w-full md:w-auto">
  Contattami
</button>
      </div>

        <div class="py-4">
          <p class=" font-mono text-xs text-gray-400 text-right">Codice Opera: #ART-2024-089</p>
        </div>
      
    </div>
  </div>
</section>


<section class="bg-slate-900 py-16 px-4 sm:px-6 lg:px-8 border-t border-gray-800">
  <div class="max-w-7xl mx-auto">
    <div class="mb-12">
      <h3 class="text-2xl font-bold text-white tracking-tight ">Altre Opere</h3>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
      
      <div class=" flex flex-col group">
        <div class="aspect-square overflow-hidden bg-gray-900">
          <img src="https://images.unsplash.com/photo-1554188248-986adbb73be4?q=80&w=600&auto=format&fit=crop" 
               class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" alt="Opera 002">
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <span class="text-xs text-gray-500 font-mono mb-2">2025</span>
          <h4 class="text-xl font-bold text-white mb-3 ">Vespa 002</h4>
          <p class="text-sm text-white mb-6 line-clamp-2">
            Studio sulla scomposizione cromatica delle lamiere originali degli anni '60.
          </p>
          <div class="mt-auto">
            <a href="#" class="inline-block w-full border border-white text-white py-2 text-center text-sm font-semibold hover:bg-white hover:text-black transition-all">
              Vedi Dettaglio
            </a>
          </div>
        </div>
      </div>

      <div class=" flex flex-col group lg:border-l-0">
        <div class="aspect-square overflow-hidden bg-gray-900">
          <img src="https://plus.unsplash.com/premium_photo-1674946205706-cef99f9e0483?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D?q=80&w=600&auto=format&fit=crop" 
               class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" alt="Opera 003">
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <span class="text-xs text-gray-500 font-mono mb-2">2026</span>
          <h4 class="text-xl font-bold text-white mb-3 ">Industrial Flow</h4>
          <p class="text-sm text-white mb-6 line-clamp-2">
            L'acciaio prende la forma dell'acqua in questo assemblaggio monumentale.
          </p>
          <div class="mt-auto">
            <a href="#" class="inline-block w-full border border-white text-white py-2 text-center text-sm font-semibold hover:bg-white hover:text-black transition-all">
              Vedi Dettaglio
            </a>
          </div>
        </div>
      </div>

      <div class=" flex flex-col group lg:border-l-0">
        <div class="aspect-square overflow-hidden bg-gray-900">
          <img src="https://images.unsplash.com/photo-1536924940846-227afb31e2a5?q=80&w=600&auto=format&fit=crop" 
               class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" alt="Opera 004">
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <span class="text-xs text-gray-500 font-mono mb-2">2024</span>
          <h4 class="text-xl font-bold text-white mb-3 ">Urban Rust</h4>
          <p class="text-sm text-white mb-6 line-clamp-2">
            Dialogo tra ossidazione naturale e geometrie rigide urbane.
          </p>
          <div class="mt-auto">
            <a href="#" class="inline-block w-full border border-white text-white py-2 text-center text-sm font-semibold hover:bg-white hover:text-black transition-all">
              Vedi Dettaglio
            </a>
          </div>
        </div>
      </div>

      <div class=" flex flex-col group lg:border-l-0">
        <div class="aspect-square overflow-hidden bg-gray-900">
          <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=600&auto=format&fit=crop" 
               class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" alt="Opera 005">
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <span class="text-xs text-gray-500 font-mono mb-2">2026</span>
          <h4 class="text-xl font-bold text-white mb-3 ">Pulp Vision</h4>
          <p class="text-sm text-white mb-6 line-clamp-2">
            Interpretazione astratta della velocità realizzata per il Pulp di Pontedera.
          </p>
          <div class="mt-auto">
            <a href="#" class="inline-block w-full border border-white text-white py-2 text-center text-sm font-semibold hover:bg-white hover:text-black transition-all">
              Vedi Dettaglio
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>