<section class="py-0 md:py-12">
  <div class="bg-white  lg:flex items-stretch ">
    
    <div class="lg:w-1/2 relative group overflow-hidden">
      <img 
        src="http://gibindesign.test/assets/img_20260222_173057170_2.webp" 
        alt="Opera d'arte" 
        class=" h-full  m-auto" style="max-height: 90vh;"
      >
    </div>

    <div class="lg:w-1/2 p-8 lg:p-12 flex flex-col justify-center">
      
      <div class="flex items-center gap-4 mb-4">
        <span class="text-black font-bold  tracking-widest text-sm">Scultura</span>
        <span class="text-black">|</span>
        <span class="text-black text-sm ">Materiali riciclati (metallo)</span>
      </div>

      <h2 class="text-4xl font-bold  mb-2">Vespa 001</h2>
      <p class="text-xl text-gray-600 mb-8 italic">Febbraio 2026</p>

      <div class="space-y-4 mb-10">
        <p>
            <strong>Concept:</strong> La Vespa "nuda", essenziale, nata dall'officina.
        </p>
        
        <p>
            Vespa 001 è un’esplosione di metallo che cattura il movimento del design Piaggio nel suo stato più grezzo. Lamiere recuperate, saldature a vista e spigoli vivi delineano lo scudo e la pancia iconica, elevando l’oggetto industriale a reperto artistico. Un tributo meccanico che affonda le radici nella tradizione metallurgica locale per proiettare l'icona verso il suo ottavo decennio."</p>
      </div>

      <div class="grid grid-cols-2 gap-4  pt-8 text-sm">
        <div>
          <p class=" font-semibold">Dimensioni</p>
          <p class=" font-medium">20 x 20 x h40 cm circa</p>
        </div>
        <div>
          <p class="  font-semibold">Materiale</p>
          <p class=" font-medium">Metallo riciclato</p>
        </div>
        <div>
          <p class="  font-semibold">Disponibilità</p>
          <p class=" font-bold  text-emerald-600 tracking-wide">Disponibile</p>
        </div>
        <div>
          <p class="  font-semibold">Codice Opera</p>
          <p class=" font-mono">#ART-2024-089</p>
        </div>
      </div>

      <div class="mt-10 flex flex-wrap gap-4">
        <button class="bg-gray-900 text-white px-8 py-3  font-semibold text-center hover:bg-gray-800 transition-all items-center w-full md:w-auto">
          Chiedi Informazioni
        </button>
        <button class="border-2 border-gray-900 text-gray-900 bg-transparent px-8 py-3 font-semibold text-center hover:bg-gray-900 hover:text-white transition-all w-full md:w-auto">
  Chiedi Informazioni
</button>
      </div>
      
    </div>
  </div>
</section>